trained-models/ filter=lfs diff=lfs merge=lfs -text
trained-models/exp0_82_Adam filter=lfs diff=lfs merge=lfs -text
trained-models/exp6_sgd filter=lfs diff=lfs merge=lfs -text
trained-models/exp6_sgd_update_every_batch filter=lfs diff=lfs merge=lfs -text
trained-models/exp0_82_Adam/tf_efficientnet_b4_ns_fold0.pth filter=lfs diff=lfs merge=lfs -text
trained-models/exp6_sgd_update_every_batch/config.py filter=lfs diff=lfs merge=lfs -text
trained-models/exp6_sgd/tf_efficientnet_b4_ns_fold0.pth filter=lfs diff=lfs merge=lfs -text
trained-models/exp0_82_Adam/config.py filter=lfs diff=lfs merge=lfs -text
trained-models/exp0_82_Adam/tf_efficientnet_b4_ns_fold2.pth filter=lfs diff=lfs merge=lfs -text
trained-models/exp0_82_Adam/tf_efficientnet_b4_ns_fold3.pth filter=lfs diff=lfs merge=lfs -text
trained-models/exp6_sgd/config.py filter=lfs diff=lfs merge=lfs -text
trained-models/exp6_sgd_update_every_batch/tf_efficientnet_b4_ns_fold0.pth filter=lfs diff=lfs merge=lfs -text
trained-models/exp6_sgd/folds.csv filter=lfs diff=lfs merge=lfs -text
trained-models/exp6_sgd/holdout.csv filter=lfs diff=lfs merge=lfs -text
trained-models/exp6_sgd/tf_efficientnet_b4_ns_fold1.pth filter=lfs diff=lfs merge=lfs -text
trained-models/exp0_82_Adam/aggregated_output_df.csv filter=lfs diff=lfs merge=lfs -text
trained-models/exp0_82_Adam/tf_efficientnet_b4_ns_fold1.pth filter=lfs diff=lfs merge=lfs -text
trained-models/exp6_sgd/tf_efficientnet_b4_ns_fold2.pth filter=lfs diff=lfs merge=lfs -text
trained-models/exp6_sgd/tf_efficientnet_b4_ns_fold3.pth filter=lfs diff=lfs merge=lfs -text
trained-models/exp6_sgd/tf_efficientnet_b4_ns_fold4.pth filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_frozen_batch_norm_89-25/tf_efficientnet_b4_ns_fold2.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_only_classifier_tuned_79-25/folds.csv filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_only_classifier_tuned_79-25/holdout.csv filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_only_classifier_tuned_79-25/tf_efficientnet_b4_ns_fold1.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/exp1_88_Adam/tf_efficientnet_b4_ns_fold0.pth filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_frozen_batch_norm_89-25/tf_efficientnet_b4_ns_fold4.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/exp4_adabound/tf_efficientnet_b4_ns_fold3.pth filter=lfs diff=lfs merge=lfs -text
trained-models/exp4_adabound/tf_efficientnet_b4_ns_fold2.pth filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_only_classifier_tuned_79-25/experiment_config.json filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_only_classifier_tuned_79-25/tf_efficientnet_b4_ns_fold2.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/exp4_adabound/aggregated_output_df.csv filter=lfs diff=lfs merge=lfs -text
trained-models/exp4_adabound/tf_efficientnet_b4_ns_fold0.pth filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_frozen_batch_norm_89-25/experiment_config.json filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_frozen_batch_norm_89-25/holdout.csv filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_only_classifier_tuned_79-25/tf_efficientnet_b4_ns_fold3.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_only_classifier_tuned_79-25/tf_efficientnet_b4_ns_fold4.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/exp1_88_Adam/tf_efficientnet_b4_ns_fold2.pth filter=lfs diff=lfs merge=lfs -text
trained-models/exp4_adabound/config.py filter=lfs diff=lfs merge=lfs -text
trained-models/exp4_adabound/tf_efficientnet_b4_ns_fold1.pth filter=lfs diff=lfs merge=lfs -text
trained-models/exp4_adabound/tf_efficientnet_b4_ns_fold4.pth filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_frozen_batch_norm_89-25/tf_efficientnet_b4_ns_fold0.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_frozen_batch_norm_89-25/tf_efficientnet_b4_ns_fold3.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_only_classifier_tuned_79-25/tf_efficientnet_b4_ns_fold0.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/exp1_88_Adam/tf_efficientnet_b4_ns_fold3.pth filter=lfs diff=lfs merge=lfs -text
trained-models/exp1_88_Adam/config.py filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_frozen_batch_norm_89-25/folds.csv filter=lfs diff=lfs merge=lfs -text
trained-models/exp1_88_Adam/aggregated_output_df.csv filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_frozen_batch_norm_89-25/tf_efficientnet_b4_ns_fold1.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/exp1_88_Adam/tf_efficientnet_b4_ns_fold1.pth filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_only_classifier_tuned_79-25 filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_only_classifier_tuned_79-25_tune/ filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_only_classifier_tuned_79-25_tune/tf_efficientnet_b4_ns_fold1-v0.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_only_classifier_tuned_79-25_tune/experiment_config.json filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_only_classifier_tuned_79-25_tune/holdout.csv filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_only_classifier_tuned_79-25_tune/tf_efficientnet_b4_ns_fold1.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_only_classifier_tuned_79-25_tune/tf_efficientnet_b4_ns_fold2.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_only_classifier_tuned_79-25_tune/tf_efficientnet_b4_ns_fold2-v0.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_only_classifier_tuned_79-25_tune/tf_efficientnet_b4_ns_fold3.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_only_classifier_tuned_79-25_tune/tf_efficientnet_b4_ns_fold4.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_only_classifier_tuned_79-25_tune/folds.csv filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_only_classifier_tuned_79-25_tune/tf_efficientnet_b4_ns_fold0.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_only_classifier_tuned_79-25_tune/tf_efficientnet_b4_ns_fold0-v0.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnfrozen_88-38 filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnfrozen_smoothed_88-31 filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnfrozen_smooth_weighted_sampling_88-48 filter=lfs diff=lfs merge=lfs -text
trained-models/exp1_88_Adam filter=lfs diff=lfs merge=lfs -text
trained-models/exp4_adabound filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_bnfrozen_89-25 filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_coswarm_bnfrozen_smooth_weighted_sampling_89-19 filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_coswarm_bnf_smooth_weighted_sampling_89-19 filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_bitemp_smooth_weighted_t1=0.5_t2=1.0_87-85 filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_ce_88-38 filter=lfs diff=lfs merge=lfs -text
trained-models/adam_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0_88-85 filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_bnf_ce_89-25 filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_smoothed_88-31 filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_smooth_weighted_sampling_88-48 filter=lfs diff=lfs merge=lfs -text
trained-models/adabound_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0 filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0_89-53 filter=lfs diff=lfs merge=lfs -text
trained-models/adabound_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0/experiment_config.json filter=lfs diff=lfs merge=lfs -text
trained-models/adam_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0_88-85/tf_efficientnet_b4_ns_bitempered_smooth=0.05_val_loss=0.112_val_acc=0.877_fold3.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0_89-53/holdout.csv filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_coswarm_bnf_smooth_weighted_sampling_89-19/folds.csv filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_bitemp_smooth_weighted_t1=0.5_t2=1.0_87-85/folds.csv filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_ce_88-38/tf_efficientnet_b4_ns_val_loss=0.35_val_acc=0.88_fold3.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_ce_88-38/tf_efficientnet_b4_ns_val_loss=0.35_val_acc=0.89_fold1.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_bnf_ce_89-25/tf_efficientnet_b4_ns_fold1.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_coswarm_bnf_smooth_weighted_sampling_89-19/tf_efficientnet_b4_ns_smooth=0.05_val_loss=0.535_val_acc=0.886_fold0.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_smoothed_88-31/tf_efficientnet_b4_ns_smooth=0.05_val_loss=0.556_val_acc=0.877_fold3.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_smooth_weighted_sampling_88-48/tf_efficientnet_b4_ns_smooth=0.05_val_loss=0.568_val_acc=0.877_fold3.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/adabound_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0/folds.csv filter=lfs diff=lfs merge=lfs -text
trained-models/adabound_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0/tf_efficientnet_b4_ns_bitempered_smooth=0.05_val_loss=0.106_val_acc=0.882_fold1.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/adam_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0_88-85/experiment_config.json filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0_89-53/experiment_config.json filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0_89-53/tf_efficientnet_b4_ns_bitempered_smooth=0.05_val_loss=0.101_val_acc=0.892_fold0.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_ce_88-38/confusion.png filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_ce_88-38/experiment_config.json filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_smoothed_88-31/confusion.png filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_smoothed_88-31/tf_efficientnet_b4_ns_smooth=0.05_val_loss=0.531_val_acc=0.891_fold1.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_smoothed_88-31/tf_efficientnet_b4_ns_smooth=0.05_val_loss=0.535_val_acc=0.890_fold4.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/adam_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0_88-85/holdout.csv filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_bnf_ce_89-25/experiment_config.json filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0_89-53/tf_efficientnet_b4_ns_bitempered_smooth=0.05_val_loss=0.109_val_acc=0.878_fold2.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_bitemp_smooth_weighted_t1=0.5_t2=1.0_87-85/holdout.csv filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_ce_88-38/tf_efficientnet_b4_ns_val_loss=0.34_val_acc=0.89_fold4.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0_89-53/folds.csv filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_coswarm_bnf_smooth_weighted_sampling_89-19/tf_efficientnet_b4_ns_smooth=0.05_val_loss=0.554_val_acc=0.877_fold4.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_smoothed_88-31/experiment_config.json filter=lfs diff=lfs merge=lfs -text
trained-models/adabound_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0/holdout.csv filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_bnf_ce_89-25/tf_efficientnet_b4_ns_fold2.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_bitemp_smooth_weighted_t1=0.5_t2=1.0_87-85/tf_efficientnet_b4_ns_bitempered_smooth=0.05_val_loss=0.142_val_acc=0.885_fold1.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_smoothed_88-31/tf_efficientnet_b4_ns_smooth=0.05_val_loss=0.520_val_acc=0.899_fold0.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_smooth_weighted_sampling_88-48/tf_efficientnet_b4_ns_smooth=0.05_val_loss=0.558_val_acc=0.885_fold2.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0_89-53/tf_efficientnet_b4_ns_bitempered_smooth=0.05_val_loss=0.103_val_acc=0.889_fold1.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/adam_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0_88-85/tf_efficientnet_b4_ns_bitempered_smooth=0.05_val_loss=0.104_val_acc=0.888_fold0.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_bnf_ce_89-25/tf_efficientnet_b4_ns_fold3.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_bitemp_smooth_weighted_t1=0.5_t2=1.0_87-85/tf_efficientnet_b4_ns_bitempered_smooth=0.05_val_loss=0.154_val_acc=0.866_fold3.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_ce_88-38/holdout.csv filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_smooth_weighted_sampling_88-48/folds.csv filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_smooth_weighted_sampling_88-48/tf_efficientnet_b4_ns_smooth=0.05_val_loss=0.542_val_acc=0.892_fold1.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/adabound_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0/tf_efficientnet_b4_ns_bitempered_smooth=0.05_val_loss=0.111_val_acc=0.876_fold3.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/adam_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0_88-85/tf_efficientnet_b4_ns_bitempered_smooth=0.05_val_loss=0.107_val_acc=0.885_fold4.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/adam_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0_88-85/tf_efficientnet_b4_ns_bitempered_smooth=0.05_val_loss=0.113_val_acc=0.882_fold2.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_bitemp_smooth_weighted_t1=0.5_t2=1.0_87-85/tf_efficientnet_b4_ns_bitempered_smooth=0.05_val_loss=0.132_val_acc=0.891_fold0.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_smooth_weighted_sampling_88-48/tf_efficientnet_b4_ns_smooth=0.05_val_loss=0.534_val_acc=0.888_fold0.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/adam_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0_88-85/folds.csv filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_bnf_ce_89-25/tf_efficientnet_b4_ns_fold4.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0_89-53/tf_efficientnet_b4_ns_bitempered_smooth=0.05_val_loss=0.104_val_acc=0.887_fold3.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_coswarm_bnf_smooth_weighted_sampling_89-19/tf_efficientnet_b4_ns_smooth=0.05_val_loss=0.527_val_acc=0.896_fold1.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_ce_88-38/folds.csv filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_ce_88-38/tf_efficientnet_b4_ns_val_loss=0.37_val_acc=0.89_fold2.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_smoothed_88-31/holdout.csv filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_smoothed_88-31/tf_efficientnet_b4_ns_smooth=0.05_val_loss=0.540_val_acc=0.888_fold2.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/adabound_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0/tf_efficientnet_b4_ns_bitempered_smooth=0.05_val_loss=0.104_val_acc=0.884_fold2.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/adam_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0_88-85/tf_efficientnet_b4_ns_bitempered_smooth=0.05_val_loss=0.105_val_acc=0.889_fold1.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_bnf_ce_89-25/folds.csv filter=lfs diff=lfs merge=lfs -text
trained-models/adabound_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0/tf_efficientnet_b4_ns_bitempered_smooth=0.05_val_loss=0.101_val_acc=0.894_fold0.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_bnf_ce_89-25/holdout.csv filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_coswarm_bnf_smooth_weighted_sampling_89-19/holdout.csv filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_smooth_weighted_sampling_88-48/experiment_config.json filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_smooth_weighted_sampling_88-48/tf_efficientnet_b4_ns_smooth=0.05_val_loss=0.578_val_acc=0.869_fold4.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_coswarm_bnf_smooth_weighted_sampling_89-19/tf_efficientnet_b4_ns_smooth=0.05_val_loss=0.559_val_acc=0.875_fold3.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_bitemp_smooth_weighted_t1=0.5_t2=1.0_87-85/tf_efficientnet_b4_ns_bitempered_smooth=0.05_val_loss=0.150_val_acc=0.873_fold2.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_ce_88-38/tf_efficientnet_b4_ns_val_loss=0.33_val_acc=0.89_fold0.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/adam_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0_88-85/confusion.png filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_bnf_ce_89-25/tf_efficientnet_b4_ns_fold0.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_coswarm_bnf_smooth_weighted_sampling_89-19/confusion.png filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_coswarm_bnf_smooth_weighted_sampling_89-19/tf_efficientnet_b4_ns_smooth=0.05_val_loss=0.550_val_acc=0.886_fold2.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_bitemp_smooth_weighted_t1=0.5_t2=1.0_87-85/confusion.png filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_smooth_weighted_sampling_88-48/holdout.csv filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_coswarm_bnf_smooth_weighted_sampling_89-19/experiment_config.json filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_bitemp_smooth_weighted_t1=0.5_t2=1.0_87-85/tf_efficientnet_b4_ns_bitempered_smooth=0.05_val_loss=0.150_val_acc=0.871_fold4.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_smoothed_88-31/folds.csv filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_coswarm_bnf_bitemp_smooth_weighted_t1=0.3_t2=1.0_89-53/tf_efficientnet_b4_ns_bitempered_smooth=0.05_val_loss=0.108_val_acc=0.883_fold4.ckpt filter=lfs diff=lfs merge=lfs -text
trained-models/sgd_onecycle_bnf_bitemp_smooth_weighted_t1=0.5_t2=1.0_87-85/experiment_config.json filter=lfs diff=lfs merge=lfs -text
